a.botão-cta{
    font: 400 1.4rem Roboto;
    text-align: center;
    border-radius: 3rem;
    border: none;
    margin: .8rem;
    padding: 2rem 6rem;
    text-decoration: none;
    cursor: pointer;
}