:root{
    font-size: 60%;
    --color-background: #E5E5E5;
    --color-primary: #1B1F1C;
    --color-secundary: #00EC5B;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root{
    height: 100vh;
}

body{
    background-color: var(--color-background);
}

body,
input,
button,
textarea{
    font: 700 1.6rem Artigo;
}

.container{
    width: 90vw;
    max-width: 700px;
}

@media (min-width: 700px) {
    :root{
        font-size: 62.5%;
    }
}

